@font-face {
    font-family: vazir;
    src:
        url(font/Vazir.woff), url(font/Vazir.woff), url(font/Vazir.ttf),
        url(font/Vazir.eot);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}

body {
    font-family: vazir;
    height: 100vh;
    position: relative;
}

.hero {
    width: 100%;
    height: 100%;
    background: rgb(80, 150, 255);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.hero .form-box {
    background: #f8fafc;
    width: 380px;
    height: 480px;
    overflow: hidden;
    margin: 10% auto;
    padding: 5px;
    border-radius: 20px;
    position: relative;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 0 0 20px 10px rgba(80, 150, 255, 0.5);
    position: relative;
}

.toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: vazir;
    font-weight: 500;
    border: none;
    padding: 10px 37px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.4s ease;
}

.toggle-btn:focus {
    color: #f8fafc;
    transform: scale(1.2);
}

#btn {
    background: linear-gradient(#2563eb, #60a5fa);
    width: 110px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social ul {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
}

.social ul li {
    margin: 20px 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social ul li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.social ul li:hover {
    transform: scale(1.2) rotate(390deg);
}

.social ul li:nth-child(1) {
    display: block;
    background-color: rgb(207, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.social ul li:nth-child(2) {
    background-color: rgb(0, 107, 207);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.social ul li:nth-child(3) {
    background-color: rgb(0, 207, 162);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.input-group {
    width: 100%;
    padding: 0 30px;
    margin-top: 40px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.input-group .input-field {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #60a5fa;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.input-field:focus {
    transform: scale(1.03);
    outline: #2563eb;
    border: 2px solid #2563eb;
}
.input-group input[type="submit"] {
    width: 100%;
    border: 1px solid #0072fd;
    background: linear-gradient(#2563eb, #1e3a8a);
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.input-group input[type="submit"]:focus {
    transform: scale(1.02);
}

.input-group input[type="checkbox"] {
    margin: 20px 0;
    cursor: pointer;
}

.input-group label {
    margin-right: 5px;
    font-size: 14px;
    color: rgb(75, 75, 75);
    cursor: pointer;
    transition: all 0.3s ease;
}

#register {
    right: 450px;
}

#login {
    right: 0;
}
